body {
	background-color: #51A3A3;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}
h1 {
	text-align: center;
	/*font-family: Times, "Times New Roman", serif*/
}
.estrutura {
	width: 700px;
	margin-right: auto;	
	margin-left: auto;	
	text-align: center;
}
* {
	box-sizing: border-box;
}
.box {
	float: left;
	width: 49%;
	padding: 30px;
}
.box_right{
	padding: 40px;
}

h1 {
	color: #75485e;
}
h2 {
	color: #dfcc74;
}
img {
	opacity: 0.8;
}
img:hover {
	opacity: 1;
}
#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #75485e;
	overflow: hidden;
}
li a, .dropbtn {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #dfcc74;	
	padding: 14px 16px;
}
#menu li a:hover {
	background-color: #dfcc74;
	color: #75485e;
}
#menu li {
	float: left;
}
.dropdown {
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #75485e;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a{
	color: #dfcc74;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover{
	background-color: #dfcc74;
	color: #75485e;
}
.dropdown:hover .dropdown-content{
	display: block;
}